.mainWrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 0.4rem;
    padding: 0.4rem 0.6rem;
}
.mainWrapper>p:nth-child(3){
    text-align: center;
}
.btn{
    background-color: navy;
    color: white;
    font-size: 0.6rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}
.btn:hover{
    background-color: rgb(7, 7, 174);
}
.btnWrapper{
    display: flex;
    gap: 0.4rem;
    align-items: center;
}